.jumbotron {
    background-color: lightslategray;
    color: black;
    margin-top: 25px;
    height: 150px;
}


footer {
    padding: 0px 10px 0px 10px;
    background-color: lightslategray;
    height: 140px;
    margin-top: 30px;
}

.card-hotel {
    flex: 1 150px;
    margin-top: 10px;
}

.btn-reservar {
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon {
    padding-right: 10px;
}

.footer-text-style {
    height: 115px;
    width: 150px;
    
}

.mail-text-style {
    margin-bottom: 0px;
}

.address-bottom-style {
    margin-bottom: 0px;
}

.icons {
    padding-right: 5px;
}

.color-text-footer {
    color: rgb(0, 0, 0);
}

.row-collapse{
    padding-bottom: 15px;
}
