@darkgray: #566370;

.margenes (@top: 0px, @bottom: 0px){
    margin-top: @top;
    margin-bottom: @bottom;
}

.jumbotron {
    background-color: @darkgray;
    color: black;
    .margenes(50px, 20px);
    height: 150px; }
  
  footer {
    padding: 0px 10px 0px 10px;
    background-color: @darkgray;
    .margenes(30px, 0px); }
  
  .card-hotel {
    flex: 1 150px;
    .margenes(10px, 0px); }
  
  .btn-reservar {
    width: 100%;
    border-radius: 0px; }
  
  .footer-address-icon {
    padding-right: 10px; }
  
  .footer-text-style {
    height: 115px;
    width: 150px; }
  
  .mail-text-style {
    margin-bottom: 0px; }
  
  .address-bottom-style {
    margin-bottom: 0px; }
  
  .icons {
    padding-right: 5px; }
  
  .color-text-footer {
    color: black; }
  
  .row-collapse {
    padding-bottom: 15px; }
  