.jumbotron {
  background-color: #566370;
  color: black;
  margin-top: 50px;
  margin-bottom: 20px;
  height: 150px;
}
footer {
  padding: 0px 10px 0px 10px;
  background-color: #566370;
  margin-top: 30px;
  margin-bottom: 0px;
}
.card-hotel {
  flex: 1 150px;
  margin-top: 10px;
  margin-bottom: 0px;
}
.btn-reservar {
  width: 100%;
  border-radius: 0px;
}
.footer-address-icon {
  padding-right: 10px;
}
.footer-text-style {
  height: 115px;
  width: 150px;
}
.mail-text-style {
  margin-bottom: 0px;
}
.address-bottom-style {
  margin-bottom: 0px;
}
.icons {
  padding-right: 5px;
}
.color-text-footer {
  color: black;
}
.row-collapse {
  padding-bottom: 15px;
}
