$darkgray: #566370;

@mixin margenes ($top, $bottom){
    margin-top: $top;
    margin-bottom: $bottom;
}

.jumbotron {
    background-color: $darkgray;
    color: black;
    @include margenes(50px, 20px);
    height: 150px;
}


footer {
    padding: 0px 10px 0px 10px;
    background-color: $darkgray;
    @include margenes(30px, 0px);
}

.card-hotel {
    flex: 1 150px;
    @include margenes(10px, 0px);
}

.btn-reservar {
    width: 100%;
    border-radius: 0px;

}

.footer-address-icon {
    padding-right: 10px;
}

.footer-text-style {
    height: 115px;
    width: 150px;
    
}

.mail-text-style {
    margin-bottom: 0px;
}

.address-bottom-style {
    margin-bottom: 0px;
}

.icons {
    padding-right: 5px;
}

.color-text-footer {
    color: rgb(0, 0, 0);
}

.row-collapse{
    padding-bottom: 15px;
}
